In [6]:
import glob

time = []
cpu = []
mem = []

for file in glob.glob('*.txt'):
    print("\n*** abrindo arquivo:", file)
    with open(file, 'r') as f:
        for line in f:
            split = str(line).split(' ') # split[5] - tempo de execução (segundos)
            split_cpu = str(split[9]).split('%') # split_cpu[0] - % CPU utilizado
            split_mem = split[12] # split_mem - % memória utilizada
            time.append(split[5])
            cpu.append(split_cpu[0])
            mem.append(split_mem)

*** abrindo arquivo: stats-moto_aa.txt

*** abrindo arquivo: stats-moto_ab.txt

*** abrindo arquivo: stats-moto_ac.txt

In [7]:
import pandas as pd

df = pd.DataFrame({'Tempo de Execução (s)': time, 'CPU (%)': cpu, 'Memória RAM': mem})
for col in df:
    df[col] = df[col].astype(float)
df.head()

   Tempo de Execução (s)  CPU (%)  Memória RAM
0                  32.39      0.0      13464.0
1                  28.99      0.0      13476.0
2                  27.89      0.0      13640.0
3                  21.06      0.0      13500.0
4                  39.90      0.0      13628.0

In [8]:
df.describe()

       Tempo de Execução (s)     CPU (%)   Memória RAM
count             100.000000  100.000000    100.000000
mean               31.274400    0.100000  13640.720000
std                 6.718516    0.301511     94.744961
min                19.870000    0.000000  13336.000000
25%                25.687500    0.000000  13610.000000
50%                31.210000    0.000000  13666.000000
75%                36.152500    0.000000  13696.000000
max                48.580000    1.000000  13796.000000