In [1]:
import glob

time = []
cpu = []
mem = []

for file in glob.glob('*.txt'):
    print("\n*** abrindo arquivo:", file)
    with open(file, 'r') as f:
        for line in f:
            try:
                split = str(line).split(' ') # split[8] - tempo de execução (segundos)
                split_cpu = str(split[12]).split('%') # split_cpu[0] - % CPU utilizado
                split_mem = split[15] # split_mem - % memória utilizada
                time.append(split[8])
                cpu.append(split_cpu[0])
                mem.append(split_mem)
            except:
                print('Erro ao processar alguns valores do arquivo:', file)

*** abrindo arquivo: stats-20220726174852.txt

In [2]:
import pandas as pd

df = pd.DataFrame({'Tempo de Execução (s)': time, 'CPU (%)': cpu, 'Memória RAM': mem})
for col in df:
    df[col] = df[col].astype(float)
df.head()

   Tempo de Execução (s)  CPU (%)  Memória RAM
0                   2.18      1.0      13452.0
1                   0.95      2.0      13608.0
2                   1.27      2.0      13612.0
3                   0.94      4.0      13588.0
4                   0.97      4.0      13408.0

In [3]:
df.describe()

       Tempo de Execução (s)    CPU (%)   Memória RAM
count              100.00000  100.00000    100.000000
mean                 1.17300    2.74000  13514.240000
std                  0.28714    0.87178     92.729336
min                  0.86000    1.00000  13288.000000
25%                  0.99000    2.00000  13458.000000
50%                  1.07500    3.00000  13536.000000
75%                  1.27000    3.00000  13588.000000
max                  2.18000    4.00000  13636.000000